.btn_container{
  width: 50%;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.management_btn{
  width: 70%;
  height: 100% !important;
  border: none;
  border-radius: 1em;
  font-size: 1.5vh;
  cursor: pointer;
  background-color: #ffffff;
  padding: 6px;
}

.management_btn:hover{
  color: blue;
  transform: scale(1.2);
}