

input{
    width: 93%;
    height: 46%;
    border-radius: 3%;
    font-size: 2vh;
    padding: 1%;
    padding-left: 5%;
}

input:focus {
    background-color: rgba(155, 233, 238, 0.262);
}

input::placeholder {
    font-size: 2vh;
}